.navbar {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px; /* Расстояние между элементами */
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  display: flex;
}

.navbar-list a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-list button {
  padding: 6px 12px;
  background-color: #e74c3c;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.navbar-list button:hover {
  background-color: #c0392b;
}
